@import "~styles/base";

.home-view {
    max-width: 1280px;
    padding-top: 50px;
    margin: 0 auto;

    h3 {
        margin-top: 15px;
        text-align: center;
    }
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $color-theme;
    
    .inner-wrapper {
        display: flex;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 6px 15px 0;
        align-content: space-between;
        align-items: center;
    }
}

.flex-1 {
    flex: 1;
}

.cart-wrapper {
    text-align: right;
    color: $color-text;

    &:hover {
        color: $color-primary;
    }
}

.list-wrapper {
    margin: 15px;
    padding-bottom: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-border;
    }

    h4 {
        padding: 0 15px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            width: 250px;
            height: 250px;
            margin: 15px;
            background: $color-border;

            p {
                margin: 100px auto 0;
                text-align: center;
            }

            &:hover {
                box-shadow: 2px 2px 16px 5px rgba(0, 0, 0, 0.52);
            }
        }
    }
}
