@import "~styles/base";

.home-view {
    max-width: 1280px;
    padding-top: 50px;
    margin: 0 auto;

    h3 {
        margin-top: 15px;
        text-align: center;
    }
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $color-theme;
    z-index: $max-z-index;

    .inner-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 15px;
        align-content: space-between;
        align-items: center;
    }
}

.cart-wrapper {
    text-align: right;
    color: $color-text;

    &:hover {
        color: $color-primary;
    }
}

.list-wrapper {
    margin: 15px;
    padding-bottom: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-border;
    }

    h4 {
        padding: 0 15px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 15px;
            border: 1px solid $color-border;
            background-color: $color-border;
            cursor: pointer;

            img {
                width: 100%;
                height: calc(100% - 24px);
                margin-top: 24px;
            }

            p {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 24px;
                background: $color-white;
                border-bottom: 1px solid $color-border;
                font-size: 1.25rem;
                text-align: center;
                z-index: 1;
            }

            &:hover {
                box-shadow: 2px 2px 16px 5px rgba(0, 0, 0, 0.52);
            }
        }
    }
}
