@import "~styles/base";

.order-view {
    width: 100%;
    max-width: $max-width;
    padding: 50px 15px 0;
    margin: 0 auto 50px;
}

.topbar,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px -1px 10px -1px rgba(0, 0, 0, 0.5);
    background-color: $color-theme;
}

.topbar {
    top: 0;

    h1 {
        text-align: center;
        line-height: 50px;
    }
}

.footer {
    padding: 7px 15px 0;
    bottom: 0;
}

.order-table {
    width: 100%;
    max-width: 1024px;
    margin: 15px auto;
    border-collapse: collapse;
    font-size: 1rem;

    tr {
        margin-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }
    }

    td {
        min-height: 50px;
        padding: 1rem 0;

        img {
            max-width: 50px;
            height: 50px;
        }
    }

    .col-charged {
        font-size: 0.75rem;
    }

    .col-name {
        padding-left: 5px;

        p {
            font-size: 1rem;
            margin-bottom: 3px;
        }

        span {
            display: inline-block;
            padding-left: 4px;
            font-size: 0.75rem;
            color: $color-gray;
        }
    }

    .col-price {
        font-weight: $font-bold;
    }

    .col-summary {
        font-size: 1.25rem;
        font-weight: $font-bold;
    }
}

.width-10 {
    // width: 10%;
}

.width-16 {
    width: 1rem;
}

.width-50 {
    width: 50px;
}

.icon-btn {
    height: 100%;
    padding: 0.3125rem;
    border: none;
    cursor: pointer;
    outline: none;
    background: $color-white;
}