@import './var';

html {
    font-family: $font-family;
    font-size: 16px;
}

// clear paddings margins and make as box-sizing:
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td,
div, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// default font and color:
body, button, input, select, textarea {
    font-family: $font-family;
    color: $color-text;
}

// headers
h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.4rem;
}

body {
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 10px;
    }
}

// utils styles:
.fl {
    float: left;
}

.fr {
    float: right;
}

@each $flex in 1, 2, 3, 4, 5, 6, 7, 8 {
    .flex-#{$flex} {
        flex: $flex;
    }
}

// functions:

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
