@import './var';

// utils styles:
.fl {
    float: left;
}

.fr {
    float: right;
}

@each $type in center, left, right {
    .text-#{$type} {
        text-align: $type;
    }
}

@each $flex in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .flex-#{$flex} {
        flex: $flex;
    }
}

// functions:

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
