@import "base";

// buttons:
.btn {
    padding: 10px;
    font-size: 16px;
    color: $color-white;
    border: none;
    line-height: 16px;
    border-radius: 4px;
    background-color: $color-theme;
    outline: none;

    &:hover {
        background-color: tint($color-theme, 20%)
    }

    &:active {
        background-color: shade($color-theme, 20%)
    }
}

@each $type, $bg-color in
    (primary, $color-primary),
    (success, $color-success) {
    .btn-#{$type} {
        background-color: $bg-color;

        &:hover {
            background-color: tint($bg-color, 20%)
        }

        &:active {
            background-color: shade($bg-color, 20%)
        }
    }
}

// inputs:
.input-box {
    height: 36px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: 1px solid $color-primary;
    border-radius: 4px;

}

// select
.menu-select {
    min-width: 80px;
    height: 36px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: 1px solid $color-primary;
    border-radius: 4px;
    background: $color-white;
    outline: none;
}

// form item:
.form-item {
    margin: 0 auto 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: $font-bold;
    }
}
