// Font:
$font-family: 'Roboto', Helvetica, Arial, sans-serif;

// font-weight:
$font-light: 300;
$font-regular: 400;
$font-bold: 500;

// color:
$color-theme: #A4744D;
// $color-theme:  #A9999E;
$color-primary: #7CACBC;
$color-success: #2EB368;
$color-danger: #F6525D;
$color-text: #251307;
$color-border: #DCE3E8;
$color-white: #FFF;

// size:
$max-width: 1280px;
